<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/todo-list.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">

    <title>To Do</title>
</head>

<body>
    <!-- App Area -->
    <main>
        <!-- Navigation Pane -->
        <div class="left-pane">
            <div class="title">
                To-Do App
            </div>
            <!-- Add ToDo Btn -->
            <div class="add-btn">
                <a id="add-todo" href="/">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <!-- Navigation Links -->
            <div class="nav-tray">
                <ul class="nav">
                    <!-- Navigation Tabs -->
                    <% const navigationTabs = ['all','pending','completed','general','work','personal'] %>
                    <!-- Iterate over each Navigation Tab and create list item -->
                    <% for (tab of navigationTabs ) {%>
                        <li>
                            <% const tabPath = '/'+tab %>
                            <!-- Add Active Class to Active Tab -->
                            <a class="<%= path===tabPath ? 'active' : '' %>" href="/view/<%= tab %>">
                                <%= tab %>
                                <!-- Display ToDos Count for Active Tab -->
                                <% if(path===tabPath && todos.length>0) { %>
                                    <div class="todo-count">
                                        <%= todos.length %>
                                    </div>
                                <% } %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>