/* Todos List */
.todos {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 75%;
	overflow-y: auto;
}

.todo:nth-child(2n) {
	background-color: #ccc;
}

.todo {
	display: flex;
	align-items: center;
	width: 90%;
	height: 15%;
	border: 1px solid black;
	font-family: "Poppins", "Roboto", sans-serif;
	margin-bottom: 0.8rem;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.todo-anchor {
	color: black;
	width: 92%;
}

.td-top,
.td-bottom {
	width: 100%;
	display: flex;
	align-items: center;
}

.td-top {
	border-bottom: 1px solid var(--grey-clr);
}

.td-bottom {
	font-size: 0.7rem;
	margin-top: 0.3rem;
}

.td-icon {
	width: 10%;
	text-align: center;
}

/* Todo Description */
.td-desc {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.9rem;
}

/* Delete Todo */
.todo-dlt {
	width: 5%;
	text-align: center;
	color: rgb(90, 90, 90);
}

.todo-dlt:hover {
	color: crimson;
	transform: translate(3%, -3%);
}

.todo-done {
	text-decoration: line-through;
}

.td-date,
.td-category {
	width: 50%;
	text-align: center;
}

/* Empty List Icon- Used When No Todo List is Empty*/

.empty-icon {
	font-size: 10rem;
	text-align: center;
	width: 90%;
	color: #ccc;
}

.empty-icon-text {
	font-size: 1.8rem;
	display: block;
	font-family: "Poppins", sans-serif;
}

/* Delete All Button */

.delete-all {
	color: var(--gunmetal-clr);
	position: absolute;
	font-size: 2rem;
	top: 100%;
	left: 100%;
	transform: translate(-90%, -90%);
	background-color: rgb(223, 41, 77);
	padding: 0.8rem;
	padding-top: 0.7rem;
	border-top-left-radius: 1rem;
	border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.delete-all:hover {
	background-color: var(--gunmetal-clr);
	color: crimson;
}

/* ScrollBar */

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--red-clr);
}

::-webkit-scrollbar-thumb:hover {
	background: grey;
}
